<ion-content [fullscreen]="true">
  <div class="frame">
    <div class="body">
      <div class="block center">
        <span class="subtitle">Olá mundo!</span>
        <h1 class="title">Passwords again</h1>
      </div>

      <div>
        <div class="block-ca">
          <h1 class="title">Create</h1>
          <span class="subtitle">your account</span>
        </div>

        <div>

          <div class="space-input">
            <span class="text margin-span-input">Your fist name</span>
            <input class="input" type="text" />
          </div>

          <div class="space-input">
            <span class="text margin-span-input">Password</span>
            <input class="input" type="password" />
          </div>

          <div class="flex-center">
            <span class="warning">This password will be used to login into the app</span>
          </div>

        </div>
      </div>
    </div>


    <button class="button" [routerLink]="['/pageHome']">Ready</button>
  </div>
</ion-content>
